@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
    --primary: #00b98e;
    --black: #000;
    --dark: #0e2e50;
    --white: #fff;
    --text-color: #333;

    // Default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;

    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[herf] {
    color: var(--text-color);
    text-decoration: none;
}

.active {
    color: var(--primary) !important;
}
